openapi: 3.0.3
info:
  title: EazyShop Products APIs Definition
  description: |
    # About Us
     Using this **OpenAPI** specification, any consumer can understand the APIs that are exposed by EazyShop
  termsOfService: https://eazyshop.com/terms/
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: support@eazyshop.com
  license:
    name: EazyShop License
    url: https://www.eazyshop.com/licenses/LICENSE-2.0.html
  version: 0.0.1
servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development server
components:
  parameters:
    orderIdQueryParams:
        name: orderId
        in: query
        required: true
        schema:
          type: integer
tags:
  - name: categories
    description: categorie related operations
  - name: products
    description: product related
  - name: orders
    description: orders
paths:
  /categories:
    get:
      tags:
        - categories
      summary: List all catgories
      description: Returns the list of categories supported by EazyShop
      parameters:
        - name: categoryId
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          examples:
            mobiles:
              value: 101
              summary: use for mobies
            laptops:
              value: 200
            headphones:
              value: 150
      responses:
        '200':
          description: A list of catgories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
              examples:
                all-categories-data:
                  summary: get all categorties
                  value:
                    - categorieId: 101
                      name: Mobiles
                    - categorieId: 200
                      name: laptops
                laptops:
                  summary: get laptops
                  value:
                    categorieId: 200
                    name: laptops
  /categories/{categoryId}:
    get:
      tags:
        - categories
      summary: return catgorie details
      description: Returns the list of categories supported by EazyShop
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 102
      responses:
        '200':
          description: A list of catgories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categoryId:
                    type: integer
                  name:
                    type: string
  /products:
    get:
      tags:
        - products
      summary: List all products
      description: Returns the list of Products supported by EazyShop
      parameters:
        - name: categoryId
          in: query
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 102
      responses:
        '200':
          description: A list of Products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
                    categoryName:
                      type: string
                    quantity:
                      type: integer
              examples:
                products-data:
                  summary: products example data
                  value:
                  - productId: 111
                    name: Foot
                    price: 15,6
                    categoryName: Lol
                    quantity: 159
  /products/{productId}:
    get: 
      tags:
        - products
      summary: return Product data
      description: Returns the list of Products supported by EazyShop
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 102
      responses:
        '200':
          description: get Products
          content:
            application/json:
              schema:
                type: object
                properties:
                  productId:
                    type: integer
                  name:
                    type: string
                  price:
                    type: number
                  categoryName:
                    type: string
                  quantity:
                    type: integer
  /orders:
    post:
      tags:
      - orders
      summary: Create Order
      description: Post order details to EazyShop for processing
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name: 
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city: 
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '201':
          description: Oder sucessfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
    put:
      tags:
      - orders
      summary: Update Order
      description: Put order details to EazyShop for processing
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name: 
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city: 
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
      responses:
        '200':
          description: Oder sucessfully updated
    delete:
      tags:
        - orders
      summary: delete Order
      description: delete order details to EazyShop for processing
      parameters:
        - $ref: "#/components/parameters/orderIdQueryParams"
      responses:
        '204':
          description: Oder sucessfully deleted
    get:
        tags:
          - orders
        summary: get Order
        description: get order details to EazyShop for processing
        parameters:
          - $ref: "#/components/parameters/orderIdQueryParams"
        responses:
          '200':
            description: Oder sucessfully deleted
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          productId:
                            type: integer
                          name: 
                            type: string
                          price:
                            type: number
                          categoryName:
                            type: string
                          quantity:
                            type: integer
                    address:
                      type: object
                      properties:
                        addressLine:
                          type: string
                        city: 
                          type: string
                        state:
                          type: string
                        zipcode:
                          type: string